In [1]:
# remove warnings
import warnings
warnings.filterwarnings('ignore')
# ---

%matplotlib inline
import pandas as pd
pd.options.display.max_columns = 100
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np

from sklearn import base

pd.options.display.max_rows = 100

In [2]:
pwd

u'C:\\Users\\cnyi\\Box Sync\\Kaggle\\titanic'

In [3]:
data = pd.read_csv('data/train.csv')

In [4]:
data.describe() # Age is missing

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [6]:
from sklearn import base

class Createdummy(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, X, y=None):
        return self

    
    def transform(self, X):
        import pandas as pd
        X=pd.DataFrame(X)
        new_data=pd.get_dummies(X[self.column_name])
        new_data=X.join(new_data)
        new_data.drop(self.column_name,1,inplace=True)
        return new_data

In [7]:
from sklearn import base

class CreateTitle(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, X, y=None):
        return self

    
    def transform(self,X):    
        # we extract the title from each name
        X['Title'] = X[self.column_name].map(lambda name:name.split(',')[1].split('.')[0].strip())

        # a map of more aggregated titles
        Title_Dictionary = {
                            "Capt":       "Officer",
                            "Col":        "Officer",
                            "Major":      "Officer",
                            "Jonkheer":   "Royalty",
                            "Don":        "Royalty",
                            "Sir" :       "Royalty",
                            "Dr":         "Officer",
                            "Rev":        "Officer",
                            "the Countess":"Royalty",
                            "Dona":       "Royalty",
                            "Mme":        "Mrs",
                            "Mlle":       "Miss",
                            "Ms":         "Mrs",
                            "Mr" :        "Mr",
                            "Mrs" :       "Mrs",
                            "Miss" :      "Miss",
                            "Master" :    "Master",
                            "Lady" :      "Royalty"

                            }

        # we map each title
        X['Title'] = X.Title.map(Title_Dictionary)
        return X

In [8]:
from sklearn import base

class dropcolumn(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, X, y=None):
        return self

    
    def transform(self,X):
        data_new=X.drop(self.column_name,1)
        return data_new

In [78]:
from sklearn import base

class PrepareData(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        try:
            X=X[X.columns.drop(self.column_name)]
        #return X
            return X.values
        except:
            return X.values

In [10]:
from sklearn import base

class fill_nan(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self,column_name):
        self.column_name=column_name
        
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X[self.column_name].fillna(X[self.column_name].median(), inplace=True)
        return X

In [11]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge

titanic_Ridge=\
Pipeline([
    ('fill_nan',fill_nan('Age'))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))
    ,('Ridge',Ridge())
    ])

Ridge_parameters = {
    'Ridge__alpha':  10**np.linspace(15,-5,400)*0.5  
}

In [14]:
from sklearn.model_selection import GridSearchCV    
grid_search = GridSearchCV(titanic_Ridge, Ridge_parameters, verbose=1)

print("Performing grid search...")
print("titanic_Ridge:", [name for name, _ in titanic_Ridge.steps])
print("parameters:")
grid_search.fit(X=data, y=data['Survived'].values)
print()

print("Best score: %0.3f" % grid_search.best_score_)
print("Best parameters set:")
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted(Ridge_parameters.keys()):
    print("\t%s: %r" % (param_name, best_parameters[param_name]))

Performing grid search...
('titanic_Ridge:', ['fill_nan', 'title', 'drop', 'dummy', 'PrepareData', 'Ridge'])
parameters:
Fitting 3 folds for each of 400 candidates, totalling 1200 fits
()
Best score: 0.404
Best parameters set:
	Ridge__alpha: 6.5201595759206707

[Parallel(n_jobs=1)]: Done 1200 out of 1200 | elapsed:  9.3min finished

In [15]:
titanic_Ridge_best=\
Pipeline([
    ('fill_nan',fill_nan('Age'))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))
    ,('Ridge',Ridge(alpha=6.5201595759206707))
    ])

In [18]:
titanic_Ridge_best.fit(data,data['Survived'].values)

Pipeline(steps=[('fill_nan', fill_nan(column_name='Age')), ('title', CreateTitle(column_name='Name')), ('drop', dropcolumn(column_name=['Name', 'Ticket', 'Cabin'])), ('dummy', Createdummy(column_name=['Title', 'Sex', 'Embarked'])), ('PrepareData', PrepareData(column_name='Survived')), ('Ridge', Ridge(alpha=6.52015957592, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))])

In [28]:
titanic_Ridge_best.steps[5][1].feature_importances_

AttributeError: 'Ridge' object has no attribute 'feature_importances_'

In [30]:
from sklearn.ensemble import RandomForestRegressor
titanic_rf=\
Pipeline([
    ('fill_nan',fill_nan('Age'))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))
    ,('rf',RandomForestRegressor())
    ])

rf_parameters = {
    'rf__max_depth':  [2,15]
}

In [31]:
from sklearn.model_selection import GridSearchCV    
grid_search = GridSearchCV(titanic_rf, rf_parameters, verbose=1)

print("Performing grid search...")
print("titanic_rf:", [name for name, _ in titanic_rf.steps])
print("parameters:")
grid_search.fit(X=data, y=data['Survived'].values)
print()

print("Best score: %0.3f" % grid_search.best_score_)
print("Best parameters set:")
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted(rf_parameters.keys()):
    print("\t%s: %r" % (param_name, best_parameters[param_name]))

Performing grid search...
('titanic_rf:', ['fill_nan', 'title', 'drop', 'dummy', 'PrepareData', 'rf'])
parameters:
Fitting 3 folds for each of 2 candidates, totalling 6 fits
()
Best score: 0.382
Best parameters set:
	rf__max_depth: 2

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.3s finished

In [33]:
titanic_rf_best=\
Pipeline([
    ('fill_nan',fill_nan('Age'))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))
    ,('rf',RandomForestRegressor(max_depth= 2))
    ])

In [34]:
titanic_rf_best.fit(data,data['Survived'].values)

Pipeline(steps=[('fill_nan', fill_nan(column_name='Age')), ('title', CreateTitle(column_name='Name')), ('drop', dropcolumn(column_name=['Name', 'Ticket', 'Cabin'])), ('dummy', Createdummy(column_name=['Title', 'Sex', 'Embarked'])), ('PrepareData', PrepareData(column_name='Survived')), ('rf', RandomForestRegr...timators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False))])

In [40]:
titanic_rf_best.steps[5][1].feature_importances_

array([ 0.        ,  0.19609464,  0.00989171,  0.01575089,  0.        ,
        0.01986139,  0.00723564,  0.        ,  0.45796736,  0.        ,
        0.        ,  0.        ,  0.22591025,  0.06728813,  0.        ,
        0.        ,  0.        ])

In [41]:
class EstimatorTransformer(base.BaseEstimator, base.TransformerMixin):
    
    def __init__(self, estimator):
#         What needs to be done here?
#         self.estimator = CityEstimator()
        self.estimator = estimator
    
    def fit(self, X, y):
        
        # Fit the stored estimator.
        # Question: what should be returned?
        self.estimator.fit(X, y)
        return(self)
    
    def transform(self, X):
        # Use predict on the stored estimator as a "transformation".
        # Be sure to return a 2-D array.
        new_list = []
        new_array = self.estimator.predict(X)
        for i in new_array:
            ii = [i]
            new_list.append(ii)
        return(new_list)

In [91]:
from sklearn.pipeline import FeatureUnion

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

pipeline_full = Pipeline([
    # Extract the subject & body
    ('fill_nan',fill_nan(['Age','Fare']))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))

    # Use FeatureUnion to combine the features from subject and body
    ,('union', FeatureUnion(
        transformer_list=[
               ('Ridge_best', EstimatorTransformer(Ridge(alpha=6.5201595759206707)))

              ,('rf_best',EstimatorTransformer(RandomForestRegressor(max_depth=2)))
        ]
    ,transformer_weights={
            'Ridge_best': 1,
            'rf_best': 1,
    }
    ))
   
    # Use a GBT Regressor on the combined features
    ,('GBT', GradientBoostingRegressor()),
    ])



GBT_parameters = {
    'GBT__max_depth':  [2,15]
}

In [66]:
from sklearn.model_selection import GridSearchCV    
grid_search = GridSearchCV(pipeline_full, GBT_parameters, verbose=1)

print("Performing grid search...")
print("pipeline_full:", [name for name, _ in pipeline_full.steps])
print("parameters:")
grid_search.fit(X=data, y=data['Survived'].values)
print()

print("Best score: %0.3f" % grid_search.best_score_)
print("Best parameters set:")
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted(GBT_parameters.keys()):
    print("\t%s: %r" % (param_name, best_parameters[param_name]))

Performing grid search...
('pipeline_full:', ['fill_nan', 'title', 'drop', 'dummy', 'PrepareData', 'union', 'GBT'])
parameters:
Fitting 3 folds for each of 2 candidates, totalling 6 fits
()
Best score: 0.418
Best parameters set:
	GBT__max_depth: 2

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.5s finished

In [100]:
pipeline_full_best = Pipeline([
    # Extract the subject & body
    ('fill_nan',fill_nan('Age'))
    ,('title', CreateTitle('Name'))
    ,('drop',dropcolumn(['Name','Ticket','Cabin','PassengerId']))
    ,('dummy', Createdummy(['Title','Sex','Embarked']))
    ,('PrepareData',PrepareData('Survived'))

    # Use FeatureUnion to combine the features from subject and body
    ,('union', FeatureUnion(
        transformer_list=[
               ('Ridge_best', EstimatorTransformer(Ridge(alpha=6.5201595759206707)))

              ,('rf_best',EstimatorTransformer(RandomForestRegressor(max_depth=2)))
        ]
    ,transformer_weights={
            'Ridge_best': 1,
            'rf_best': 1,
    }
    ))
   
    # Use a GBT Regressor on the combined features
    ,('GBT', GradientBoostingRegressor(max_depth= 2)),
    ])

In [80]:
pipeline_full_best.fit(X=data, y=data['Survived'].values)

Pipeline(steps=[('fill_nan', fill_nan(column_name='Age')), ('title', CreateTitle(column_name='Name')), ('drop', dropcolumn(column_name=['Name', 'Ticket', 'Cabin'])), ('dummy', Createdummy(column_name=['Title', 'Sex', 'Embarked'])), ('PrepareData', PrepareData(column_name='Survived')), ('union', FeatureUnion(...       presort='auto', random_state=None, subsample=1.0, verbose=0,
             warm_start=False))])

In [98]:
test = pd.read_csv('data/test.csv')

test['Fare'].fillna(data['Fare'].median(), inplace=True)
test['Age'].fillna(data['Age'].median(), inplace=True)

In [95]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   29.599282    0.447368    0.392344   35.576535
std     120.810458    0.841838   12.703770    0.896760    0.981429   55.850103
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.471875
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [87]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Miss
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Mr
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Miss
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mrs
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Master
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,NaN,S,Mr
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Mrs
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,NaN,C,Mrs
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Mr
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Mr
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Miss
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Mr
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Miss
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,NaN,C,Mr
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,NaN,Q,Miss
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,NaN,S,Mr
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Royalty
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.0,1,0,PC 17569,146.5208,B78,C,Mrs
32,33,1,3,"Glynn, Miss. Mary Agatha",female,28.0,0,0,335677,7.7500,NaN,Q,Miss
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Mr
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,Mr
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,Mr
36,37,1,3,"Mamee, Mr. Hanna",male,28.0,0,0,2677,7.2292,NaN,C,Mr
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,Mr
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,Miss
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C,Miss
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,Mrs
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,Mrs
42,43,0,3,"Kraeff, Mr. Theodor",male,28.0,0,0,349253,7.8958,NaN,C,Mr
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,Miss
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,Miss
45,46,0,3,"Rogers, Mr. William John",male,28.0,0,0,S.C./A.4. 23567,8.0500,NaN,S,Mr
46,47,0,3,"Lennon, Mr. Denis",male,28.0,1,0,370371,15.5000,NaN,Q,Mr
47,48,1,3,"O'Driscoll, Miss. Bridget",female,28.0,0,0,14311,7.7500,NaN,Q,Miss
48,49,0,3,"Samaan, Mr. Youssef",male,28.0,2,0,2662,21.6792,NaN,C,Mr
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Mrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S,Mr
842,843,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,Miss
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,Mr
844,845,0,3,"Culumovic, Mr. Jeso",male,17.0,0,0,315090,8.6625,NaN,S,Mr
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S,Mr
846,847,0,3,"Sage, Mr. Douglas Bullen",male,28.0,8,2,CA. 2343,69.5500,NaN,S,Mr
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C,Mr
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Officer
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,28.0,1,0,17453,89.1042,C92,C,Mrs
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S,Master
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S,Mr
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,Miss
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,Miss
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,Mrs
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S,Mrs
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Mrs
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S,Mr
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C,Mrs
859,860,0,3,"Razi, Mr. Raihed",male,28.0,0,0,2629,7.2292,NaN,C,Mr
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,Mr
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Mr
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Mrs
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA. 2343,69.5500,NaN,S,Miss
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Mr
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Mrs
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Mr
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,345777,9.5000,NaN,S,Mr
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Master
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Mr
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Mrs
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Mr
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Mr
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Mrs
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Miss
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Mr
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,349217,7.8958,NaN,S,Mr
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Mrs
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Mrs
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Mr
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Miss
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Mrs
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Officer
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [99]:
pipeline_full_best.predict(test)

array([ 0.11018251,  0.6180593 ,  0.10485072,  0.11018251,  0.49033038,
        0.10485072,  0.6486438 ,  0.12967187,  0.88733108,  0.01454518,
        0.11018251,  0.11773468,  0.98222644,  0.10656491,  0.94780692,
        0.95674772,  0.10116544,  0.10983854,  0.3501973 ,  0.68052671,
        0.26107887,  0.63265853,  0.98222644,  0.34776765,  0.94780692,
        0.01454518,  0.98222644,  0.10983854,  0.34776765,  0.10584294,
        0.11018251,  0.12967187,  0.3501973 ,  0.3984714 ,  0.34776765,
        0.10983854,  0.64106001,  0.49033038,  0.11018251,  0.20525337,
        0.07317773,  0.34776765,  0.19530134,  0.95674772,  0.94780692,
        0.11018251,  0.34776765,  0.10485072,  0.98222644,  0.4816354 ,
        0.34776765,  0.22761816,  0.87576884,  0.92597022,  0.22761816,
        0.19884039,  0.07317773,  0.11018251,  0.09470974,  0.98222644,
        0.10485072,  0.10983854,  0.10485072,  0.68052671,  0.94780692,
        0.95674772,  0.68052671,  0.34776765,  0.34776765,  0.94587372,
        0.68052671,  0.11018251,  0.64106001,  0.34776765,  0.98222644,
        0.41542755,  0.11018251,  0.94587372,  0.10116544,  0.68052671,
        0.82197708,  0.20585597,  0.20963504,  0.11018251,  0.29782419,
        0.11018251,  0.6486438 ,  0.6486438 ,  0.85655359,  0.92597022,
        0.68052671,  0.11018251,  0.94780692,  0.11018251,  0.24389905,
        0.11018251,  0.95674772,  0.09900803,  0.75342089,  0.16045004,
        0.98222644,  0.10983854,  0.10485072,  0.11018251,  0.68052671,
        0.11018251,  0.19846586,  0.10485072,  0.11018251,  0.08537686,
        0.10116544,  0.6486438 ,  0.98222644,  0.68052671,  0.94780692,
        0.10485072,  0.10485072,  0.64106001,  0.34776765,  0.95674772,
        0.95674772,  0.16045004,  0.98222644,  0.11018251,  0.10485072,
        0.64106001,  0.11018251,  0.39774005,  0.10983854,  0.11018251,
        0.11000946,  0.32802499,  0.39774005,  0.09900803,  0.09470974,
        0.11018251,  0.10485072,  0.10116544,  0.49033038,  0.05169701,
        0.08579122,  0.98222644,  0.22164455,  0.10116544,  0.34776765,
        0.01454518,  0.34776765,  0.11018251,  0.34776765,  0.07365695,
        0.98222644,  0.10485072,  0.01454518,  0.4816354 ,  0.11907792,
        0.11018251,  0.98222644,  0.49033038,  0.34776765,  0.49033038,
        0.6486438 ,  0.82197708,  0.94587372,  0.11018251,  0.07365695,
        0.64106001,  0.34776765,  0.05169701,  0.98222644,  0.49033038,
        0.11018251,  0.10485072,  0.10656491,  0.10485072,  0.05169701,
        0.92597022,  0.95674772,  0.37200873,  0.91523554,  0.94780692,
        0.10116544,  0.34776765,  0.98222644,  0.10485072,  0.98222644,
        0.10983854,  0.92597022,  0.01454518,  0.21934074,  0.10983854,
        0.19846586,  0.15453284,  0.58033889,  0.19846586,  0.92597022,
        0.16045004,  0.98222644,  0.6486438 ,  0.10116544,  0.8458189 ,
        0.68052671,  0.76053831,  0.52051701,  0.92597022,  0.10116544,
        0.15453284,  0.49033038,  0.10116544,  0.98222644,  0.11018251,
        0.09900803,  0.11018251,  0.20963504,  0.91523554,  0.1015798 ,
        0.34776765,  0.6486438 ,  0.22164455,  0.98222644,  0.11018251,
        0.92597022,  0.10485072,  0.94780692,  0.10485072,  0.98222644,
        0.68052671,  0.11018251,  0.6486438 ,  0.10656491,  0.10983854,
        0.13980276,  0.98222644,  0.07317773,  0.10485072,  0.34776765,
        0.10485072,  0.20585597,  0.10983854,  0.91523554,  0.98222644,
        0.98222644,  0.92597022,  0.34776765,  0.11018251,  0.23551908,
        0.26107887,  0.94780692,  0.20525337,  0.95674772,  0.8458189 ,
        0.92597022,  0.10485072,  0.34776765,  0.11018251,  0.11000946,
        0.11018251,  0.10485072,  0.11018251,  0.95674772,  0.10485072,
        0.01454518,  0.10485072,  0.94587372,  0.64106001,  0.31500601,
        0.11018251,  0.15453284,  0.11018251,  0.64106001,  0.10485072,
        0.34776765,  0.10485072,  0.98222644,  0.4816354 ,  0.10485072,
        0.92597022,  0.10116544,  0.10485072,  0.10983854,  0.10116544,
        0.49033038,  0.89696221,  0.6486438 ,  0.49033038,  0.64106001,
        0.07317773,  0.11018251,  0.34776765,  0.10485072,  0.11018251,
        0.34776765,  0.6486438 ,  0.10485072,  0.17055025,  0.07317773,
        0.11018251,  0.94587372,  0.09470974,  0.34776765,  0.11018251,
        0.11000946,  0.22761816,  0.10485072,  0.11018251,  0.6486438 ,
        0.94587372,  0.26107887,  1.06356462,  0.22164455,  0.53402321,
        0.10485072,  0.10983854,  0.11018251,  0.60772984,  0.98222644,
        0.68052671,  0.34776765,  0.08537686,  0.11018251,  0.12967187,
        0.11018251,  0.19846586,  0.10116544,  0.34776765,  0.98222644,
        0.11018251,  0.91523554,  0.34776765,  0.10983854,  0.08537686,
        0.91523554,  0.34776765,  0.10485072,  0.68052671,  0.11018251,
        0.15453284,  0.10116544,  0.10584294,  0.12598659,  0.81182027,
        0.08537686,  0.11000946,  0.05169701,  0.98222644,  0.38414447,
        0.6486438 ,  0.10116544,  0.85655359,  0.10116544,  0.92597022,
        0.98222644,  0.10116544,  0.20963504,  0.15182903,  0.45051303,
        0.20963504,  0.94587372,  0.11018251,  0.10485072,  0.6486438 ,
        0.13029702,  0.95674772,  0.95674772,  0.11018251,  0.98222644,
        0.04692982,  0.11018251,  0.6486438 ,  0.98222644,  0.22761816,
        0.10983854,  0.98222644,  0.20963504,  0.10983854,  0.95674772,
        0.98222644,  0.34528307,  0.08537686,  0.37200873,  0.19884039,
        0.10485072,  0.10485072,  0.85655359,  0.68052671,  0.10116544,
        0.88335264,  0.11018251,  0.10485072,  0.10983854,  0.19884039,
        0.34776765,  0.94780692,  0.6156905 ,  0.10983854,  0.01454518,
        0.98222644,  0.10485072,  0.94780692,  0.10485072,  0.10485072,
        0.98222644,  0.10485072,  0.98222644,  0.34776765,  0.34776765,
        0.28344583,  0.10983854,  0.34776765,  0.68052671,  0.64106001,
        0.68052671,  0.98222644,  0.64106001,  0.11018251,  0.98222644,
        0.07317773,  0.11018251,  0.45782118])